<html>
  
  <head>
  	<link rel="stylesheet" href="style.css">
  </head>
  
  <body>
   <div>
    <h1>WANTED!</h1>
    <h3>Have you seen this Pro team the Mimai Dolphins</h3>
    <img src="https://imgs.clipartwiki.com/clipimg/small/99-992366_oops-we-could-not-locate-your-form-miami.png">
    
    <P>Description:there pro players in it, also the color of the team is white,this team plays in the Hard Rock Staduim</p>
      <p>if you have seen this team anywhere please contact 875-325-4412 to remake their team </p>
      <p>reward: 500 dollars  </p>
    </div>
  
   
 
  </body>
  
</html>