div {
    text-align: center;
    overflow: hidden;
    border: 10px solid blue;
    width: 650px; height: 600;
    background-color: black;
}   

p{
    color: red;
}

h3{
    color: blue;
  }

h1{
    color: firebrick;
}

